body {
    font-family: Arial, sans-serif;
    background-color: #eee;
    text-align: center;
}

h1 {
    margin-top: 50px;
    color: #333;
    text-shadow: 2px 2px #ddd;
}

.timer-container {
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.timer-container p {
    font-size: 5em;
    margin: 0;
}

.timer-container button {
    font-size: 1.5em;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #ac4caf;
    color: #fff;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s ease-in-out,
        transform 0.1s ease-in-out;
}

.timer-container button:hover {
    background-color: #bb68b7;
    transform: scale(1.05);
}